{% load static %}

<nav class="navbar navbar-expand-md bg-info  fixed-top ">
<div class="container-fluid">
  <button
    class="navbar-toggler navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'home'  %}"> Sinan Blog</a>

  <div class="collapse navbar-collapse  fw-bold" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {% comment %} {% url 'students' %} {% endcomment %}
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="">About</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto ">
      {% if request.user.is_authenticated %} {% if request.user.is_superuser %}

      <li class="nav-item active">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      {% endif %}

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      </li>
      <li class="nav-item active">
        {% comment %} {% url 'add_blog' %} {% endcomment %}
        <a class="nav-link" href="">New Post</a>
      </li>
      {% else %}

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
    </ul>
    </div>
  </div>
</nav>
