{% extends 'base.html' %} {% block content %}
<div class="container" style="width: 50rem">
  <div class="card">
    <img src="{{ post.image.url }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div></div>
          <p>Posted <span>{{ post.publish_date|timesince }}</span> ago</p>
        </div>
      </li>
      <li class="list-group-item">
        <p class="card-text">{{ post.content }}</p>
      </li>
      <li class="list-group-item">Enjoy this post? Give it a LIKE!!</li>

      {% if request.user.is_authenticated %}
      <li class="list-group-item">
        Leave a comment below
        <form action=""></form>
      </li>
      {% endif %}

      <li class="list-group-item">Comments</li>
    </ul>
    <div class="card-body">
      {% if user == post.user %}

      <a href="#" class="card-link btn btn-primary">Edit</a>
      <a href="#" class="card-link btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Post!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this post?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{% url 'post_delete' pk=post.pk %}" method="POST">
       {% csrf_token %}
       <button class="btn btn-danger">Delete</button>
</form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
