{% extends 'base.html' %}



{% block content %}
    <h1 class="text-center">Sinan Blog</h1>
    <!-- <div class="container"> -->
      <div class="row">
        
{% for post in object_list %}
<div class="col g-3 ">
 <a href="{{ post.get_absolute_url }}"> 
<div class="card mx-auto" style="width: 18rem;">
  <img src="{{ post.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    
  </div>
</div>
 </a> 

</div>
{% endfor %}
</div>
<!-- </div> -->




{% endblock content %}
    